* { margin:0;padding:0;list-style-type:none; }

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height:350px;
}

header .header-cover {
    position: relative;
    top:0;
    height:350px;
    width: 100%;
    background: rgb(32,66,255);
    background: linear-gradient(90deg, rgba(231,0,255,0.3) 0%, rgba(0,236,255,0.3) 100%);
    z-index: 1;
}

header img {
    position: absolute;
    top: 0;
    height: 350px;
    width: 100%;    
}

.fL { float: left; }
.fR { float:right; }
.hidden { display: none; }

#login {
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width:100%;
    height:100vh;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
}

#login .username {
    color: #fefefe;
    font-size: 48px;
    position: relative;
    top:50%;
    margin-top: -24px;
    height:auto;
    font-family: 'Playfair Display', serif;
}

#login .username form {
    display: inline-block;
}

#login .username form input {
    position: relative;
    padding-bottom: 5px;
    color: #fefefe;
    font-size: 48px;
    width: 550px;
    background: none;
    border: none;
    border-bottom: 2px solid #fefefe;
    font-family: 'Playfair Display', serif;
}

#login .username form input::placeholder {
    font-style: italic;
    text-align: center;
}

#login .username form input:focus {
    outline: none;
}

#login button {
    position: relative;
    background: none;
    border: none;
    font-size: 48px;
    color: #fefefe;
}

#login button:hover {
    animation: login 0.6s infinite;
    cursor: pointer;
}

@keyframes login {
    from {left: 0px;}
    to {left:5px;}
}

#main {
    position: relative;
    box-sizing:border-box;
    top: -240px;
    width:900px;
    height: auto;
    margin:auto;
    z-index: 50;
}

#main .title {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

#main .title h1 {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 12px;
}

#main .title h4 {
    color: #fefefe;
    font-size: 24px;
    font-weight: normal;
}

#main .clock-weather {
    position: relative;
    bottom: -2px;
    color: rgba(256,256,256,0.9);
}

#main .title .weather {
    position: relative;
    display: inline-block;
    bottom: 0;
    font-size: 16px;
}

#main .title .city {
    position: relative;
    display: inline-block;
    bottom: 0;
    font-size: 16px;
}

#main .title .clock {
    position: relative;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

#main .todo-input {
    padding: 30px 30px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    background-color: #fefefe;
}

#main .todo-input input {
    width: 100%;
    font-size:18px;
    font-style: italic;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

#main .todo-input input:focus {
    outline: none;
}

#main .todo-input input::placeholder {
    color: rgba(0,0,0,0.3);
}

#main .todo-list {
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 30px 30px;
    background-color: #fefefe;
    width: 100%;
}

#main .todo-list li {
    padding: 10px 0;
    font-size: 16px;
}

#main .todo-list li:hover {
    color: rgb(0, 176, 224);
    font-size: 18px;
}

#main .todo-list i {
    color:rgba(220,0,255);
    padding-right: 8px;
}

#main .todo-list button:hover i {
    color:red;
    font-size: 18px;
}

#main .todo-list button {
    float: right;
    background: none;
    border: none;
}

#main .todo-list button i {
    color:#999;
    font-size:16px;
    pointer-events: none;
}

#main .todo-list h4 {
    margin-bottom: 20px;
}

#main .todo-list li:first-of-type{
    padding: 0 0 10px 0;
}

footer {
    position:absolute;
    width:100%;
    height:50px;
    bottom:0;
    background-color: #222;
}

#quotes {
    box-sizing: border-box;
    padding: 12px;
    font-size: 18px;
    width: 900px;
    margin: auto;
    color: #fff;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#quotes .author:before {
    display:inline-block;
    position: relative;
    content: "";
    width: 20px;
    bottom:5px;
    margin-right:5px;
    border-bottom: 1px solid #fff;
}

#todo {
    position:absolute;
    width: 50%;
    left: 50%;
    height: 70vh;
    top: 30vh;
}